Upload_Video_to_Instagram.json
{
  "name": "Upload Video to Instagram",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4b3aa922-a969-4351-94ef-01549c5916b1",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"in_file_name\": \"in_{{$now.toMillis()}}.{{$binary.data.fileExtension}}\",\n  \"out_file_name\": \"out_{{$now.toMillis()}}.{{$binary.data.fileExtension}}\",\n}\n",
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        0
      ],
      "id": "0e19fd6b-31b5-4924-b50e-6cfe805af455",
      "name": "Set Filenames",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"image_url\": \"https://i.imgur.com/3Y3cDXb.jpeg\",\n  \"video_url\": \"https://t9018725894.p.clickup-attachments.com/t9018725894/495d15fb-a193-47b0-8335-1462f73f280f/Untitled%20video%20-%20Made%20with%20Clipchamp.mp4?view=open\",\n\"ig_user_id\": \"17841473391381006\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "5c485d55-bda4-4437-9b8e-a4366f2a65bc",
      "name": "Set Configs"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{$('Set Configs').item.json.ig_user_id}}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "REELS"
              },
              {
                "name": "upload_type",
                "value": "resumable"
              },
              {
                "name": "cover_url",
                "value": "={{$('Set Configs').item.json.image_url}}"
              },
              {
                "name": "thumb_offset",
                "value": "0"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1760,
        0
      ],
      "id": "333b9cc2-342c-4177-b40c-339ae8e0bb25",
      "name": "1. Initialize Video Upload",
      "credentials": {
        "facebookGraphApi": {
          "id": "LwxjUFrKuTWfkW0D",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('1. Initialize Video Upload').item.json.uri }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "file_size",
              "value": "={{ $('Set: out_file_size').item.json.out_file_size }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        0
      ],
      "id": "804f8a6f-6951-4155-820e-1690ba01fc9f",
      "name": "2. Upload Video to Reels",
      "alwaysOutputData": true,
      "credentials": {
        "facebookGraphApi": {
          "id": "LwxjUFrKuTWfkW0D",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "command": "=cd /data/my_app_files\nffmpeg -i {{ $('Set Filenames').item.json.in_file_name }} -c:v libx265 -crf 28 -c:a aac -b:a 128k {{ $('Set Filenames').item.json.out_file_name }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ],
      "id": "81bb7a84-ca8a-4d7e-83d2-c983ba9b3fb8",
      "name": "Command: Convert to H265",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=stat -c %s /data/my_app_files/{{ $('Set Filenames').item.json.out_file_name }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1320,
        0
      ],
      "id": "8bed9eb3-1ae7-44fd-a8cf-261d37b52e99",
      "name": "Command: Get File Size"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"out_file_size\":  {{ $json.stdout }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        0
      ],
      "id": "4af8d840-b193-4e58-92b8-f61733528b5a",
      "name": "Set: out_file_size"
    },
    {
      "parameters": {
        "url": "={{ $json.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "319ec402-4821-4309-97e5-de623aec0339",
      "name": "Download Video File using HTTP",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/my_app_files/{{ $('Set Filenames').item.json.in_file_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "78bb8ea8-e097-4a81-b9b6-4d1d86a25857",
      "name": "Write Initial Video File to Disk",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fileSelector": "=/data/my_app_files/{{ $('Set Filenames').item.json.out_file_name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1980,
        0
      ],
      "id": "0992e8bd-ac9e-482f-aa83-d2d7670524a2",
      "name": "1.1 Read H265 file to 'data'"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Set Configs').item.json.ig_user_id }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $('1. Initialize Video Upload').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        2420,
        0
      ],
      "id": "02951a94-9d9b-4f9c-89c0-9377a80ea8b4",
      "name": "3. Publish Reel Container",
      "credentials": {
        "facebookGraphApi": {
          "id": "LwxjUFrKuTWfkW0D",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "command": "=rm /data/my_app_files/{{ $('Set Filenames').item.json.in_file_name }}\nrm /data/my_app_files/{{ $('Set Filenames').item.json.out_file_name }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2620,
        0
      ],
      "id": "dc349ba3-94d3-4e7b-9ad7-fee70fb51c1e",
      "name": "Execute Command"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Configs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Filenames": {
      "main": [
        [
          {
            "node": "Write Initial Video File to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configs": {
      "main": [
        [
          {
            "node": "Download Video File using HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Initialize Video Upload": {
      "main": [
        [
          {
            "node": "1.1 Read H265 file to 'data'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command: Convert to H265": {
      "main": [
        [
          {
            "node": "Command: Get File Size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command: Get File Size": {
      "main": [
        [
          {
            "node": "Set: out_file_size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: out_file_size": {
      "main": [
        [
          {
            "node": "1. Initialize Video Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Upload Video to Reels": {
      "main": [
        [
          {
            "node": "3. Publish Reel Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video File using HTTP": {
      "main": [
        [
          {
            "node": "Set Filenames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Initial Video File to Disk": {
      "main": [
        [
          {
            "node": "Command: Convert to H265",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1.1 Read H265 file to 'data'": {
      "main": [
        [
          {
            "node": "2. Upload Video to Reels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Publish Reel Container": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ce422fd2-e066-4ca2-87c3-09bd320ebd07",
  "meta": {
    "instanceId": "042bdb9c5082048b6e544e91b78ef471fbd2d529dfdc7f7585567fb5aa3bedaf"
  },
  "id": "wiGaF9E3Zb0fOKrd",
  "tags": []
}
